$jfx-pageBackGroundColor: #F8F7F5; //页面颜色
$jfx-brandColor: #D92D20; //品牌色 价格颜色

$jfx-font-title: #1D1D1F; // 主要文字
$jfx-font-dec: #666666; // 辅助文字
$jfx-font-dec2: #999999; // 辅助文字2

$jfx-border: #f1f1f1; // 边框色
$jfx-border2: #eeeeee; // 边框色